@media screen and (max-width: 1281px) {
  html,
  body {
    font-size: 50%;
  }
}

@media screen and (max-width: 1025px) {
  html,
  body {
    font-size: 40%;
  }
}

@media screen and (max-width: 950px) {
  html,
  body {
    font-size: 30%;
  }
}

@media screen and (max-width: 767.98px) {
  html,
  body {
    font-size: 20%;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 15%;
  }
}
